.neww {
    background-color: black;
    color: yellow;
    width: fit-content;
    padding: 30px;
    margin: auto;
}

.ioio{
    padding: 10px 50px;
    border: none;
    background-color: yellow;
    
}

.bt {
    margin-top: 5px;
    padding: 10px 65px;
    margin-left: 75px;
}

.bt2 {
    margin-left: 45px;
    padding: 5px 15px;
}

.bt3 {
    margin-top: 3px;
    margin-left: 45px;
    padding: 5px 15px;
}

input {
    outline: none;
}

.lol {
    background-color: black;
    color: yellow;
    width: fit-content;
    padding: 20px;
    margin: auto;
}

.ojo {
    background-color: lawngreen;
    text-align: center;
    padding: 20px;
}

.ist {
    justify-content: space-between;
    margin: 0px auto;
    padding: 10px;
    display: flex;
}

.koko {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 90;
    width: 300px;

    padding: 10px;
}

.ioio {


    font-family: Arial, Helvetica, sans-serif;
    font-weight: 90;
    width: 300px;

    padding: 10px;
}

.popo {


    font-family: Arial, Helvetica, sans-serif;
    font-weight: 90;
    width: 300px;

    padding: 10px;

}

.bobo {
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px;
}

/* .ingeneral{
    background-color: blue;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
} */

.dark{
    padding: 90px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color:white;
    box-shadow: inset 0px 0px 19px white;
}
.light{
    padding: 90px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color:black;
    box-shadow: inset 0px 0px 19px black;
}
.ku{
    /* width: 900px; */
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ma{
    width: 300px; 
    text-align: center;
    margin: 20px;
    background-color: red;
    padding: 20px 30px;
    /* padding: 0px; */

}
.img{
    width: 25%;
    height: 20%;
    border-radius: 50px;
    margin: auto;
}
.uouo{
    padding: 0px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.uouo li{
    background: blue;
    color: white;
    width: 300px;
}
.kuku{
    margin: 10px;
    border: 2px;
    border-radius: 10px;
    box-shadow:  0px 0px 20px grey;
    padding: 20px 15px;
}
ul{
    list-style-type: none;
    /* display: flex;
    flex-direction: column; */
}
.last{
    background-color: red;
    box-shadow:  0px 0px 20px red;
    border-radius: 9px;
    border: none;
    color: white;
    padding: 10px 25px;
    ;
}
.lala{
    display: flex;
    justify-content: space-between;
}
.olopa{
    background-color: green;
    padding: 30p;
}
.okobo{
    background-color: red;
    margin: auto;
    border-radius: 10px;
    padding: 25px 20px;
    color: white;
}
.okobo input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px groove blue;
    background: transparent;
    outline: none;
    color: white;

}
nav{
    background-color: yellow;
    display: flex;
}
ul{
    display: flex;
    justify-content: space-between;
}
li{
    margin-left: 20px;
}
.yoyo{
    text-decoration: none;
}
.home{
    background-color: cadetblue;
    color: white;
}
.nbnm{
    background-color: palevioletred;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.qq{
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-bottom: 2px groove blueviolet;
}